
body {
    background-color: #191919;
}

nav {
    background-color: black;
}

nav :first-child {
    color: white;

}

main {
    border-radius: 10px;
    background-image: url("documentation/images/main-background-cropped.jpg");
    background-size: cover;
    background-position: bottom;
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem 0 4rem 0 ;
}

img[alt="image of jade romo standing in front of trees"] {
}

main div :nth-child(2) {
    text-align: center;
    margin: 0 auto 0 0;
}

main div :first-child {
    margin: 0 0 0 auto;
}

main div div :first-child {
    color: black;
    text-align: left;
    margin-left: 1rem;
}

main div div :nth-child(2) {
    color: black;
}

